/* Default styles for light mode */
body {
  font-family: Calibri, sans-serif;
  color: #000;
  background-color: #fff;
}

/* Dark mode styles */
.dark-mode {
  color: #fff;
  background-color: #000;
}

.dark-mode h1 {
  color: #fff;
}

.dark-mode label {
  color: #fff;
}

.dark-mode input[type="text"] {
  color: #fff;
  background-color: #000;
}

.dark-mode button {
  background-color: #fff;
  color: #000;
}

.dark-mode button:hover {
  background-color: #000;
  color: #fff;
}

.dark-mode ul {
  color: #fff;
  background-color: #000;
}

.dark-mode li h2 {
  color: #fff;
}
