/* Default styles for light mode */
body {
  font-family: Calibri, sans-serif;
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s ease;
}

/* Dark mode styles */
.dark-mode {
  color: #fff; /* Text color in dark mode */
  background-color: #000; /* Background color in dark mode */
}

.dark-mode h1 {
  color: #fff; /* Color of h1 tags in dark mode */
}

.dark-mode label {
  color: #fff; /* Text color of labels in dark mode */
}

.dark-mode input[type="text"] {
  color: #fff; /* Text color of input fields in dark mode */
  background-color: #000; /* Background color of input fields in dark mode */
}

.dark-mode button {
  background-color: #fff; /* Background color of buttons in dark mode */
  color: #000; /* Text color of buttons in dark mode */
}

.dark-mode button:hover {
  background-color: #000; /* Background color of buttons in dark mode when hovered */
  color: #fff; /* Text color of buttons in dark mode when hovered */
}

.dark-mode ul {
  color: #fff; /* Text color of unordered lists in dark mode */
  background-color: #000; /* Background color of unordered lists in dark mode */
}

.dark-mode li h2 {
  color: #fff; /* Color of h2 tags in dark mode */
}
