/* Set font, text and background color for page*/
body {
    font-family: Calibri, sans-serif;
    color: #000;
    background-color: #fff;
    transition: background-color 0.5s ease;
  }
  
  /*Style for page heading */
  h1 {
    font-size: 2em;
    margin: 1em;
  }
  
  /* Style for page header */
  header {
    margin: 0 1em 1em;
  }
  
  /* Style for forms */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
  
  /* Style for form labels */
  label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  
  /* Style for text input */
  input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 0.5em;
  }
  
  /* Style for buttons */
  button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  /* Style for buttons hover state */
  button:hover {
    background-color: #fff;
    color: #000;
  }
  
  ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
  }
  
  li {
    margin-bottom: 2em;
  }
  
  li h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
  }
  
  .about-section {
    margin-right: 1em;
  }
  
  /* Dark mode styles */
  .dark-mode {
    color: #fff;
    background-color: #000;
  }
  
  .dark-mode h1 {
    color: #fff;
  }
  
  .dark-mode label {
    color: #fff;
  }
  
  .dark-mode input[type="text"] {
    color: #fff;
    background-color: #444;
  }
  
  .dark-mode button {
    background-color: #fff;
    color: #000;
  }
  
  .dark-mode button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode ul {
    color: #fff;
    background-color: #444;
  }
  
  .dark-mode li h2 {
    color: #fff;
  }